@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* properties apply to everywhere */
.App {
  font-family: 'Roboto', sans-serif;
  color: white;
}

/* background image with overlay */
.bg-image-overlay {
  background-image: url('/rectangle_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.bg-image-overlay::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

/* search bar placeholder text */
.start-destination> ::placeholder {
  color: white;
  font-family: 'Roboto', sans-serif;
}

/* style header section */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 35px;
}

.travel-selection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  margin-top: 145px;
}

/* slider movement section */
#slider {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  position: relative;
}

#slider1 {
  position: absolute;
  z-index: -1;
  object-fit: cover;
}

#slider2 {
  text-align: center !important;
}
